<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <springProperty scope="context"
                    name="applicationName"
                    source="spring.application.name"
                    defaultValue="odp-admin"/>

    <springProperty scope="context"
                    name="graylogHost"
                    source="graylog_host"
                    defaultValue="172.28.1.90"/>

    <springProperty scope="context"
                    name="graylogPort"
                    source="graylog_port"
                    defaultValue="12201"/>

    <!--    <springProfile name="local">-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr([%15.15t]){faint} [%mdc{traceId:-}]
                [%mdc{spanId:-}] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <!--    </springProfile>-->

    <springProfile name="!local">
        <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
            <graylogHost>${graylogHost}</graylogHost>
            <graylogPort>${graylogPort}</graylogPort>
            <useCompression>true</useCompression>
            <encoder class="de.siegmar.logbackgelf.GelfEncoder">
                <originHost>dev-odp.vs.inno.tech</originHost>
                <includeRawMessage>false</includeRawMessage>
                <includeMarker>true</includeMarker>
                <includeMdcData>true</includeMdcData>
                <includeCallerData>false</includeCallerData>
                <includeRootCauseData>false</includeRootCauseData>
                <includeLevelName>true</includeLevelName>
                <levelNameKey>logLevel</levelNameKey>
                <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%level %msg%n</pattern>
                </shortPatternLayout>
                <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg%n</pattern>
                </fullPatternLayout>
                <staticField>application:${applicationName}</staticField>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="GELF" />
        </root>
    </springProfile>
</configuration>
